.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c3e50;
    padding: 2rem; 
    margin: auto; 
    min-height: 300px; /* Sets a minimum height for all cards */
    max-width: 600px; /* Ensures the width doesn't exceed 800px */
    width: 80%; /* Cards will take up 80% of their container's width */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.project-card h2 {
    color: #ce5d29;
    font-size: 1.8rem; 
    margin-bottom: 1rem;
    text-align: center;
}

.project-card .role-title {
    font-style: italic;
    color: #ceb029; 
    margin-bottom: 1rem;
}

.project-card .description {
    color: #d4d4d4;
    font-size: 1.1rem;
    line-height: 1.6;
    padding: 0 1rem;
    text-align: center; 
}

.project-card img {
    max-width: 200px;
    max-height: 200px;
    width: auto; /* Keeps the aspect ratio */
    height: auto; /* Keeps the aspect ratio */
    border-radius: 8px;
    margin-top: 1.5rem;
}

.project-card:hover {
    transform: scale(1.02);
}

.project-link {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 1.5rem auto;
    max-width: 800px;
    position: relative;
    z-index: 1;
}

.project-link .project-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.about-card {
    background-color: #2c3e50;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #ecf0f1;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.about-card h3 {
    color: #16a085;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.about-card p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.6;
    color: #bdc3c7; 
}

.skills-list {
    list-style: none;
    padding: 0;
    color: #ecf0f1;
    margin-top: 1rem;
}

.skills-list li {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 0;
}

.about-card a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.about-card a:hover {
    color: #3498db; 
    text-decoration: underline;
}


.about-card:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}
